.main_wrapper {
    margin: 0 auto;
    width: 80vw;
}

.title h1 {
    margin: 2.4rem auto;
    text-align: center;
    font-size: 2.7em;
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
}

.wrapper {
    margin: 0 auto;
    width: 85rem;
    font-family: 'Noto Sans KR';
}

.subinfo {
    width: 100%;
    padding: 10px;
    display: flex;
    color: #555555;
    font-size: 1.2em;
}

.team:before {
    content: "Team ";
    color: #999999;
}

.period:before {
    content: "진행년도 ";
    color: #999999;
}



.modify_btn {
    margin: 0.5rem;
    margin-right: 1.5rem;
    float: right;
}

.image {
    width: 100%;
    object-fit: cover;
}
