.comments_addbtn {
    margin-left: 2rem;
}

.comments {
    margin: 0 0 4rem;
}

.inputform {
    width: 82rem;
    margin: 15px auto;
    padding: 20px;
}

.form_wrapper {
    width: 90rem;
    margin: 0 auto;
}

.form_textarea {
    display: block;
    margin: 1.5rem;
}

.btn_wrapper {
    margin: 0.5rem;
    margin-right: 1.5rem;
    float: right;
}

.btn_spacer {
    margin: 0.5rem;
}