html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.black {
  color: black;
  display: inline-block;
}

